name: Terraform CI

on:
    push:
        branches:
            - feature/*
    pull_request:
        branches:
            - main

jobs:
    terraform:
        name: Terraform Plan and Validate
        runs-on: ubuntu-latest

        permissions:
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.9.8

            - name: Terraform Init
              run: terraform init -backend=false

            - name: Terraform Format Check
              run: terraform fmt -check

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              env:
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
              run: terraform plan -var="aws_region=${{ secrets.AWS_REGION }}" \
                  -var="aws_access_key=${{ secrets.AWS_ACCESS_KEY_ID }}" \
                  -var="aws_secret_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}"
